@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Kaushan+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ======================= common css start */

:root {
  --primary-color: #003efa;
  --secondary-color: #00b32a;
  --white-color: #fff;
  --black-color: #00000d;
  --border-color: #cacaca50;
  --text-color: #262626;
  --primary-liner-Gradent-color: linear-gradient(380deg, #092c11, #23366c, #173d27);
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h4 {
  font-family: "Roboto", sans-serif;
}
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.section-hedding {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.section-hedding h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  text-transform: uppercase;
  color: #333;
  display: inline-block;
  position: relative;
  padding-bottom: 13px;
}
.section-hedding h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  border-radius: 2px;
}
.common-btn {
  position: relative;
  display: inline-block;
  padding: 8px 25px;
  color: var(--white-color);
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  text-decoration: none;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 1;
  border-radius: 50px;
  border: none;
  outline: none;
}

.common-btn::before,
.common-btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.4s ease;
}

.common-btn::before {
  top: 0;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
}
.common-btn:hover::before {
  transform: scaleX(1);
}

/* common banner  */
.common-banner-area {
  width: 100%;
  background: url(../images/contactPage/contact-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  position: relative;
}
.common-banner-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.common-banner-area .breadcrumbs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 99;
}
.common-banner-area h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 15px;
  font-style: italic;
}
.common-banner-area li a {
  color: var(--secondary-color);
}
.common-banner-area li {
  font-weight: normal;
  color: #ffffffc2;
}
.common-banner-area .bread-crumbs-list {
  display: flex;
  gap: 0 8px;
  justify-content: center;
}
.common-banner-area span {
  color: #ffffffc2;
}
.common-section-heading h2 {
  color: var(--black-color);
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 15px;
}
.common-section-heading p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--text-color);
}
.common-section-heading span {
  margin-left: 5px;
  color: var(--secondary-color);
}
.pagination-bar {
  margin-top: 50px;
  text-align: center;
}
.pagination-bar .pagination {
  justify-content: center;
}
.pagination-bar .page-link {
  font-size: 14px;
  padding: 10px 20px;
  color: #00000d;
  font-weight: 600;
}
.pagination-bar .page-link:hover {
  color: var(--secondary-color);
}
.pagination-bar .page-link:focus {
  z-index: 3;
  color: var(--black-color);
  background-color: var(--bs-pagination-focus-bg);
  outline: 0;
  box-shadow: none;
}
/* ======================= common css end */

/* header Area start  */
.headerArea {
  background: linear-gradient(3900deg, #224a2b, #02123b, #164524);
  position: sticky;
  top: 0;
  z-index: 999;
}
.headerArea .headerLogo img {
  width: 120px;
}
/* Navigation main style */

.main-navigation .nav-menu {
  display: flex;
}

.main-navigation .nav-menu li {
  position: relative;
}
.main-navigation .nav-menu a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.main-navigation .nav-menu a:hover {
  background: #444;
  color: #ffd700;
}
/* menu-dropdown menu style */
.main-navigation .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: var(--white-color);
  display: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  z-index: 999;
}
.main-navigation .submenu a {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  color: #333;
}
.main-navigation .submenu a:hover {
  background: #444;
  color: #ffd700;
}
.main-navigation .menu-dropdown:hover .submenu {
  display: block;
}

/* .search-btn  */
.NavigationRight {
  gap: 0 30px;
}
.NavigationRight ul {
  margin: 0;
}
.NavigationRight ul li {
  color: var(--white-color);
  transition: all ease 0.4s;
}
.NavigationRight ul li:hover {
  color: #ffd700;
  cursor: pointer;
}
.search-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  background: var(--black-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.search-container:hover .search-btn {
  color: #ffd700;
}
.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white-color);
  font-size: 16px;
}
.search-btn {
  background: transparent;
  border: none;
  color: var(--white-color);
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.close-bnt {
  margin-left: auto;
  background: transparent;
  border: none;
  color: var(--black-color);
  font-size: 20px;
}

/* SideBar  */
.sideBar li {
  color: var(--white-color);
}
.sideBar li:hover {
  color: #ffd700;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.sideBar .offcanvas-header {
  background: #08181d;
  background: linear-gradient(380deg, #092c11, #23366c, #173d27);
}
.sideBar .close-bnt {
  color: var(--white-color);
}
.sideBar .offcanvas-body {
  margin-top: 10px;
}
.sideBar .offcanvas-body h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}
.sideBar .offcanvas-body p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  text-align: justify;
}
.sideBar .contactInfo {
  margin-top: 40px;
}
.sideBar .contactInfo .contactItems {
  gap: 0 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.sideBar .contactInfo .contactItems h4 {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
}
.sideBar .contactInfo .contactItems a,
.sideBar .contactInfo .contactItems p {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  color: #00000d8c;
  transition: all ease 0.4s;
}
.sideBar .contactInfo .contactItems a:hover {
  color: var(--secondary-color);
}
.socialMedia {
  padding: 15px 0;
}
.socialMedia ul {
  gap: 15px;
  padding: 0;
  margin: 0;
}
.socialMedia ul li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #222;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.socialMedia ul li a:hover {
  transform: scale(1.2) rotate(15deg);
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* header Area end  */

/* hero Area Start  */

.hero-area {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-bottom: 50px;
}

/* .hero-slider .items {
  position: relative;
  overflow: hidden;
} */
.overlay-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.slider-img img {
  width: 100%;
  aspect-ratio: 2.45;
  object-fit: cover;
  filter: brightness(0.65);
  transition: transform 0.5s ease;
}

.slick-current .slider-img img {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.slider-captions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  z-index: 10;
  user-select: none;
  padding: 40px;
}
.slider-captions h5 {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
  display: inline-block;
  letter-spacing: 2px;
  word-spacing: 10px;
  margin-bottom: 30px;
}
.slider-captions h1 {
  font-weight: 700;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #cfcfcf;
  line-height: 1.2;
  padding: 0 100px;
  margin-bottom: 13px;
}

.slider-captions p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  font-weight: normal;
  padding: 0 100px;
}
.slider-captions .heroBtn {
  margin-top: 50px;
  display: flex;
  gap: 0 20px;
  justify-content: center;
}
.slick-arrow {
  z-index: 20;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.slick-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: white;
}

.hero-area .slick-arrow {
  margin-left: 40px;
  background: #0f0f318c;
}
.hero-area .slick-next {
  right: 20px;
}
.slick-arrow :hover {
  color: var(--secondary-color);
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: var(--black-color);
}

/* hero Area End */

/* about-us-area  start */
.about-us-area {
  padding: 50px 0;
}
.about-us-warp .btn-wrapper {
  margin-top: 30px;
}
.about-us-event-Imgs {
  width: 100%;
}
.about-us-event-Imgs img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 110px 10px 10px 10px;
}
.about-us-list {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.about-us-event-info h5 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 20px;
}
.about-us-event-info p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: var(--text-color);
}
.company-counter-number p {
  font-size: 25px;
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 600;
}
.about-content ul {
  padding: 0;
  margin: 0;
}
.about-content ul li {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: var(--text-color);
}
.about-content ul strong {
  color: #079707cf;
  margin-right: 3px;
}
/* about-us-area End  */
/* service area Start  */
.services-area {
  padding: 50px 0;
  text-align: center;
  background: #f9f9ff;
}
.service-items {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  transition: all ease-in-out 0.2s;
}
.service-items:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.service-icon {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
}
.service-icon i {
  font-size: 20px;
}
.service-items h5 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 11px;
}
.service-items p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}
.services-area .btn-wrapper {
  margin-top: 30px;
}
/* service area End  */

/* Upcoming Events Start  */
.upcoming-events-area {
  padding: 50px 0;
}
.upcoming-events-area .eventh-details {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  color: var(--text-color);
}
.swiper {
  width: 100%;
  height: 360px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide .row {
  width: 100%;
}

.upcoming-events-Imgs img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.upcoming-events {
  margin-top: 20px;
}
.upcoming-events .upcoming-events-Imgs img {
  width: 100%;
  aspect-ratio: 1.62;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.upcoming-events-info {
  margin-top: 15px;
}
.upcoming-events-info h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}
.upcoming-events-info h3::after {
  content: "";
  position: absolute;
  left: -10%;
  bottom: 45px;
  transform: translateX(-40%);
  width: 25%;
  height: 3px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-radius: 2px;
}
.upcoming-events-info h3 a {
  font-family: "Kaushan Script", cursive;
  color: var(--black-color) !important;
  font-size: 26px;
  line-height: 1.4;
  transition: all ease 0.4s;
}
.upcoming-events-info:hover h3 a {
  color: var(--secondary-color) !important;
}
.upcoming-events-info p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  color: var(--text-color);
  padding-right: 15px;
}
.more-details {
  margin-top: 30px;
}
.more-details h4 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: var(--black-color);
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}
.more-details p {
  margin-bottom: 5px;
}
.more-details strong {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  margin-right: 13px;
  color: var(--secondary-color);
}
.more-details span {
  font-size: 14px;
  line-height: 1.6;
  font-weight: normal;
  color: var(--text-color);
}
/* Upcoming Events End  */

/* Creative Event Organizer area start */
.event-organizer-area .section-hedding h2 {
  color: var(--white-color);
}
.event-organizer-area {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  background: url(../images/home-page/event-organizer/creativit-innovation-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
.event-organizer-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}
.event-organizer-info {
  padding: 20px;
  background: var(--white-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.event-organizer-imgs {
  margin-bottom: 10px;
}
.event-organizer-imgs img {
  width: 100%;
  aspect-ratio: 2;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}
.event-organizer-area h4 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--black-color);
}
.event-organizer-area p {
  font-size: 15px;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 25px;
}

.event-organizer-member-list {
  background: var(--white-color);
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}
.event-organizer-member .col-lg-4:nth-last-child(-n + 3) .event-organizer-member-list {
  margin-bottom: 0;
}
.event-organizer-member-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s;
}
.meber-list-imgs img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  aspect-ratio: 1.62;
  object-fit: cover;
  object-position: center;
}
.orginzer-member-info {
  padding: 12px 5px 0 5px;
  text-align: center;
  height: 115px;
}
.orginzer-member-info h4 {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 2px;
  font-weight: 600;
  color: var(--black-color);
}
/* Creative Event Organizer area end */

/* Photo Gallery area start  */
.photo-gallery-area {
  padding: 50px 0;
  background: #f9f9ff;
}
.fancybox__container {
  z-index: 1050;
}
.photo-gallery-items {
  position: relative;
}
.photo-gallery-items img {
  width: 100%;
  aspect-ratio: 1.3;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.photo-gallery-items .photo-gallery-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.photo-gallery-items .photo-gallery-info:hover {
  opacity: 1;
}
.photo-gallery-items .photo-gallery-info h4 {
  font-size: 23px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 6px;
}
.photo-gallery-items .photo-gallery-info p {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  color: #ccc;
  opacity: 0.8;
}
/* Photo Gallery area end */

/* latest blog area start */
.latest-blog-area {
  padding: 50px 0;
}

.latest-blog-items {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 20px;
}
.latest-blog .col-lg-4:nth-last-child(-n + 3) .latest-blog-items {
  margin-bottom: 0;
}
.latest-blog-imgs {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.latest-blog-imgs img {
  width: 100%;
  aspect-ratio: 1.62;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.4s;
}
.latest-blog-imgs:hover img {
  transform: scale(1.1);
}
.latest-blog-info {
  padding: 15px;
}
.latest-blog-info h6 {
  font-size: 14px;
  line-height: 1.4;
  color: var(--secondary-color);
  margin-bottom: 6px;
  font-family: "Roboto", sans-serif;
}
.latest-blog-info h6 span {
  font-size: 14px;
  color: var(--secondary-color);
  margin-right: 5px;
}
.latest-blog-info h4 {
  color: #333;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.latest-blog-info p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* latest blog area end */

/* eventh clienat area  */
.event-client-area {
  background: #f9f9ff;
  padding: 50px 0;
}
.event-client-area .slick-slide {
  margin: 0 8px;
}
.event-client-items {
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 15px;
}
.event-client-items a {
  width: 100%;
}
.event-client-items img {
  width: 100%;
  aspect-ratio: 1.2;
  object-fit: cover;
  object-position: center;
}
.event-client-area .slick-arrow {
  margin-left: 0;
  background: #0f0f318c;
}
.event-client-area .slick-arrow:hover {
  background: #03035a94;
}
.event-client-area .slick-next {
  right: -12px;
}
.event-client-area .slick-prev {
  left: -12px;
}
/* about page area start  */
/* our-journey-area */
.our-journey-area {
  padding: 100px 0;
}
.our-journey-imges {
  position: relative;
}
.our-journey-img-one img {
  width: 100%;
  aspect-ratio: 1.62;
  object-fit: cover;
  object-position: center;
}
.our-journey-img-tow {
  width: 350px;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translateX(-50%) translateY(-50%);
}
.our-journey-img-tow img {
  width: 100%;
  aspect-ratio: 1.62;
  object-fit: cover;
  object-position: center;
}
.our-journey-img-three {
  position: absolute;
  top: 50%;
  left: 50%;
  border-right: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.our-journey-img-three img {
  object-fit: cover;
  object-position: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 1px solid #ffffff36;
}

/* event-memories-area */
.event-memories-area {
  padding: 50px 0;
  background: var(--black-color);
}
.event-memories-area .common-section-heading {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.event-memories-area .common-section-heading h2 {
  text-align: center;
  color: var(--white-color);
}
.event-memories-area .common-section-heading p {
  color: var(--white-color);
  text-align: center;
}
.event-memories-items-imgs img {
  width: 100%;
  aspect-ratio: 1.62;
  object-fit: cover;
  object-position: center;
}
.event-memories-items-info h4 {
  color: #ffffffe3;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}
.event-memories-items-info {
  padding: 20px;
}
.event-memories-items-info p {
  font-size: 16px;
  line-height: 1.7;
  color: #a5a5a5;
}
/* why-choose-eventh-area  */
.why-choose-eventh-area {
  padding: 50px 0;
}
.why-choose-eventh-area .common-section-heading {
  margin-bottom: 50px;
}
.choose-eventh-imgs img {
  width: 100%;
  aspect-ratio: 0.9;
  object-fit: cover;
  object-position: center;
}
.why-choose-eventh-list {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.choose-eventh-list-imgs {
  text-align: center;
  margin-bottom: 10px;
}
.choose-eventh-list-imgs img {
  width: 64px;
}
.why-choose-eventh-list h4 {
  color: var(--black-color);
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
/*========== about page area end  ==========*/
/*========== services page area start ==========*/
.complete-event-solutions-area {
  padding: 50px 0;
}
.complete-event-solutions-area .common-section-heading {
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
}
.event-solutions-items {
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: all ease 0.3s;
}
.event-solutions-items:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.event-solutions-items-imgs {
  background: #00b32a23;
  padding: 20px;
  margin-right: 10px;
  transition: all ease 0.3s;
}
.event-solutions-items:hover .event-solutions-items-imgs {
  background: #003efa4d;
}
.event-solutions-items-imgs img {
  max-width: 64px;
}
.event-solutions-items-info h4 {
  color: var(--black-color);
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 600;
}
.event-solutions-items-info p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: var(--text-color);
}

/* individual-services */
.individual-services-area {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  background: url(../images/servicesPage/individual-services/IndividualServices-100.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
.individual-services-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.individual-services-area .common-section-heading {
  margin-bottom: 50px;
}
.individual-services-area .common-section-heading h2 {
  text-align: center;
  color: var(--white-color);
}
.individual-services-imgs img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
.individual-services-items {
  background: var(--white-color);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all ease 0.4s;
}
.individual-services-items:hover .individual-services-info h4 {
  color: var(--secondary-color);
}
.individual-services-info {
  padding: 30px 15px;
}
.individual-services-info h4 {
  line-height: 1.3;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.individual-services-info p {
  font-size: 15px;
  color: var(--text-color);
}
/*========== services page area end ==========*/
/*========== organizer page area start ==========*/
.event-organizer-page-area {
  padding: 50px 0;
  background: var(--white-color);
}
.event-organizer-member-list {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*========== organizer page end ==========*/
/*========== event page area start ==========*/
.the-event-area {
  padding: 50px 0;
}
.event-list-item {
  background: #092c11;
  margin-bottom: 30px;
  transition: all ease 0.4s;
}
.event-list-item-imgs img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  object-position: center;
}
.event-list-item-info h3 {
  color: var(--white-color);
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.event-list-item:hover .event-list-item-info h3 {
  color: var(--secondary-color);
}
.the-event-area .event-list-item-info p {
  color: #e0dede;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.the-event-area .details-info {
  display: flex;
}
.the-event-area .details-info strong {
  margin-right: 10px;
  color: #e0dede;
}
.the-event-area .details-info p {
  color: #e0dede;
  font-size: 16px;
}
/*========== event page area end ==========*/
/*========== event details page area start ==========*/
.event-details-area {
  padding: 50px 0;
}
.event-details-info .event-info-imgs {
  margin-bottom: 30px;
}
.event-details-info .event-info-imgs img {
  width: 100%;
}
.event-setails-decover {
  margin-bottom: 30px;
}
.event-details-info h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--black-color);
  line-height: 1.3;
  margin-bottom: 8px;
  display: inline-block;
}
.event-details-info p {
  font-size: 16px;
  line-height: 1.7;
  color: #353535;
  margin-bottom: 10px;
}

/* event-details-sidebar */
.event-details-date {
  padding: 15px;
  background: #092c11;
  padding: 20px;
  margin-bottom: 50px;
}
.event-details-date li {
  display: flex;
}
.event-details-date li strong {
  margin-right: 8px;
  font-size: 16px;
  color: var(--white-color);
}
.event-details-date li {
  font-size: 14px;
  color: var(--white-color);
}
.event-service {
  margin-bottom: 50px;
}
.event-service h4 {
  background: #092c11;
  color: var(--white-color);
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
  margin: 0;
}
.event-service ul {
  background: #01310c11;
  padding: 20px;
}
.event-service ul li {
  list-style: disclosure-closed;
  margin-left: 20px;
  margin-bottom: 10px;
}
.event-service ul li a {
  font-size: 14px;
  color: var(--black-color);
  font-weight: 600;
  transition: all ease 0.4s;
}
.event-service ul li:hover a {
  color: var(--secondary-color);
}
.event-details-sidebar .btn-wrapper {
  margin-top: 50px;
}
/*========== event details page area end ==========*/
/*========== Blog details page area start ==========*/
.blog-details-area {
  padding: 50px 0;
}
.blog-details-content-imgs {
  margin-bottom: 20px;
}
.blog-details-content-imgs img {
  width: 100%;
}
.blog-details-meta-info {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.blog-details-meta-info ul {
  display: flex;
  gap: 0 30px;
}
.blog-details-meta-info ul li a {
  display: flex;
  gap: 0 5px;
  font-size: 16px;
  transition: all ease 0.4s;
}
.blog-details-meta-info ul li strong {
  color: var(--secondary-color);
}
.blog-details-meta-info ul li p {
  color: #287139;
}
.blog-details-meta-info ul li:hover p {
  color: var(--secondary-color);
}
.blog-details-content-info h3 {
  font-size: 25px;
  color: var(--black-color);
  margin-bottom: 10px;
  line-height: 1.2;
}
.blog-details-content-info p {
  font-size: 16px;
  line-height: 1.6;
  color: #3e3e3e;
}

/* blog-details-sidebar */
.serarch-btn {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}
.blog-details-sidebar {
  overflow: hidden;
}
.blog-details-sidebar input {
  width: 100%;
  border: none;
  outline: none;
  background: #00000013;
  padding: 8px;
}
.serarch-btn button {
  border: none;
  outline: none;
  background: none;
  background: #092c11;
  padding: 8px 20px;
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.serarch-btn button:hover {
  background: #0c461a;
}
.blog-Details-catagory {
  margin-bottom: 50px;
}

.blog-Details-catagory h3 {
  background: #092c11;
  color: var(--white-color);
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}
.blog-Details-catagory ul {
  background: #00000010;
  padding: 20px 10px;
}
.blog-Details-catagory ul li {
  list-style: disclosure-closed;
  margin-left: 30px;
  margin-bottom: 10px;
}
.blog-Details-catagory ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  transition: all ease 0.3s;
}
.blog-Details-catagory ul li a:hover {
  color: var(--secondary-color);
}
.latest-blog h3 {
  background: #092c11;
  color: var(--white-color);
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 30px;
}
.latest-blogs-items-imgs img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  object-position: center;
}
.latest-blogs-items {
  margin-bottom: 10px;
  transition: all ease 0.3s;
}
.latest-blogs-items:hover .latest-blog-dec h4 {
  color: var(--secondary-color);
}
.latest-blog .latest-blog-dec h4 {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.latest-blog .latest-blog-dec p {
  color: #000000b7;
  font-size: 14px;
  line-height: 1.5;
}
.latest-blog-details-tag h3 {
  background: #092c11;
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.latest-blog-details-tag ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.latest-blog-details-tag ul li {
  background: #efefef;
  padding: 6px 20px;
  transition: all ease 0.4s;
  border-radius: 2px;
}
.latest-blog-details-tag ul li:hover {
  background: #c0bfbfab;
}
.latest-blog-details-tag ul li a {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
  transition: all ease 0.4s;
}
.latest-blog-details-tag ul li:hover a {
  color: var(--secondary-color);
}
/*========== Blog details page area end ==========*/
/*========== Event Schedule page area start ==========*/
.event-schedule-area {
  padding: 50px 0;
}
.schedule-sidebar {
  background: #3c955a12;
  padding: 20px;
}
.schedule-sidebar .nav-link {
  width: 100%;
  color: var(--black-color);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  border: 1px solid #777777b6;
  margin-bottom: 15px;
  border-radius: 30px;
}
.schedule-sidebar .active {
  background: var(--black-color);
  transition: all ease 0.4s;
  border-radius: 1px;
  color: var(--white-color);
  border-radius: 30px;
  border-color: var(--black-color);
}
.event-schedule-List {
  background: #3c955a12;
  padding: 20px;
  margin-bottom: 20px;
  transition: all ease 0.4s;
}
.event-schedule-List:hover {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.event-schedule-times li {
  display: flex;
  font-size: 18px;
}
.event-schedule-times li span {
  margin-right: 8px;
  color: #3c955a;
}
.event-schedule-times li p {
  color: #000000de;
}
.event-schedule-dec h3 {
  color: var(--black-color);
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-schedule-dec p {
  color: #000000de;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*========== Event Schedule page area End ==========*/
/*========== Privacy Policy page area start ==========*/
.privacy-policy-area {
  background: #fff;
  padding: 40px 0;
}
.privacy-policy {
  background: #fff;
  padding: 50px;
  box-shadow: rgba(231, 229, 229, 0.9) 0px 3px 8px;
}
.privacy-policy-items {
  margin-bottom: 30px;
}
.privacy-policy-items h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000000cb;
}
.privacy-policy-items p {
  font-size: 17px;
  line-height: 1.6;
  color: #464646;
}
.privacy-policy-items p a {
  color: var(--primary-color);
  transition: all ease 0.4s;
}
.privacy-policy-items p a:hover {
  color: var(--secondary-color);
}
.privacy-policy-items ul {
  margin-left: 20px;
}
.privacy-policy-items li {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 4px;
  list-style: disclosure-closed;
  color: #464646fd;
}
/*========== Privacy Policy page area End ==========*/
/*========== terms conditions page area start ==========*/
.terms-conditions-area {
  background: #fff;
  padding: 40px 0;
}
.terms-conditions {
  background: #fff;
  padding: 50px;
  box-shadow: rgba(231, 229, 229, 0.9) 0px 3px 8px;
}
.terms-conditions-items {
  margin-bottom: 30px;
}
.terms-conditions-items h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000000cb;
}
.terms-conditions-items p {
  font-size: 17px;
  line-height: 1.6;
  color: #464646;
}
.terms-conditions-items p a {
  color: var(--primary-color);
  transition: all ease 0.4s;
}
.terms-conditions-items p a:hover {
  color: var(--secondary-color);
}
.terms-conditions-items ul {
  margin-left: 20px;
}
.terms-conditions-items li {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 4px;
  list-style: disclosure-closed;
  color: #464646fd;
}
/* =================terms conditions page area End ====================== */
/* =================c ontact page area start====================== */
.contact-details-area {
  padding: 50px 0;
}
.contact-us h4 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black-color);
  margin-bottom: 15px;
  padding-bottom: 4px;
  display: inline-block;
}
.contact-us p {
  font-size: 15px;
  font-weight: normal;
  color: var(--text-color);
  line-height: 1.6;
  padding-right: 31px;
}
.contact-information {
  margin-top: 30px;
}
.contact-list {
  display: flex;
  gap: 0 10px;
  margin-bottom: 15px;
}
.contact-list p {
  font-size: 15px;
  font-weight: normal;
  color: var(--text-color);
  margin: 0;
  padding-right: 10px;
}
.contact-list a {
  color: var(--text-color);
  font-size: 15px;
}
.contact-list a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
.contact-list span {
  text-align: center;
  display: block;
  font-size: 18px;
  color: var(--secondary-color);
}
.message-form h4 {
  color: var(--black-color);
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px;
  text-transform: capitalize;
  display: inline-block;
  padding-bottom: 4px;
}
.input-list {
  margin-bottom: 30px;
}
.input-list .form-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #000000e5;
}
.form-control {
  font-size: 14px;
  line-height: 1.4;
  padding: 10px 15px;
  color: var(--text-color);
  transition: all ease 0.4s;
}
.form-control:hover {
  border-color: var(--secondary-color);
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--secondary-color);
}
.contact-locatinon {
  margin-top: 50px;
}
/* =================contact page area End====================== */
/* =================footer Area start====================== */
footer {
  padding: 50px 0;
  background: var(--black-color);
}
.footer-caption {
  color: var(--white-color);
  display: inline-block;
  position: relative;
  font-size: 23px;
  margin-bottom: 25px;
}
.footer-caption::before {
  content: "";
  position: absolute;
  right: -60px;
  top: 59%;
  transform: translateY(-60%);
  width: 50px;
  height: 2px;
  background-color: #fff9;
}
.footer-contact-items {
  display: flex;
  margin-bottom: 10px;
}
.footer-info .footer-contact-items span {
  font-size: 12px;
  margin-right: 10px;
  color: #ffffffb0;
  width: 30px;
  height: 30px;
  background: #3b3b3b;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
}
.footer-info p {
  font-size: 13px;
  line-height: 1.6;
  font-weight: normal;
  color: #ffffffbd;
}
.footer-info a {
  font-size: 13px;
  line-height: 1.6;
  font-weight: normal;
  color: #ffffffbd;
  transition: all ease 0.4s;
}
.footer-info a:hover {
  color: var(--secondary-color);
}
/* =================footer Area End ======================== */

/*=================== Responive Device ===================== */
.mobile-menu {
  display: none;
}
.mobile-menu-bar {
  padding: 10px;
}
.mobile-navigation {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
}
.mobile-navigation.active {
  left: 0;
}

/* Header */
.nav-header {
  background: linear-gradient(60deg, #188847, #224092, #188847);
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}
.menu-toggle {
  background: none;
  color: #fff;
  font-size: 24px;
  border: none;
}
.close-btn {
  font-size: 22px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Menu List */
.mobile-nav-menu {
  padding: 20px;
  margin: 0;
}
.mobile-nav-menu li {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
  padding-bottom: 2px;
}
.mobile-nav-menu li a {
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  transition: all ease 0.3s;
}
.mobile-nav-menu li a:hover {
  color: var(--secondary-color);
}

/* Dropdown */
.mobile-menu-dropdown .submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding-left: 15px;
}
.mobile-menu-dropdown.open .submenu {
  max-height: 400px;
  padding-top: 20px;
}
.mobile-menu-dropdown .submenu li {
  border: none;
  margin-bottom: 5px;
}
.mobile-menu-dropdown .submenu a {
  color: #2e2d2d;
  font-size: 14px;
  font-weight: 600;
}

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  /* home page start ============ */
  .main-navigation .nav-menu a {
    padding: 20px 13px;
  }
  .main-navigation .menu-dropdown .submenu a {
    padding: 12px;
  }
  .about-us-event-Imgs img {
    aspect-ratio: 0.66;
  }
  .upcoming-events .upcoming-events-Imgs img {
    aspect-ratio: 1.5;
  }
  .meber-list-imgs img {
    aspect-ratio: 1.3;
  }
  .main-navigation .nav-menu a {
    padding: 20px 10px;
  }
  /* ======= About page ============= */
  .choose-eventh-imgs img {
    aspect-ratio: 0.66;
  }
  /* ====== service page ======= */
  .individual-services-imgs img {
    aspect-ratio: 0.84;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  /* =======home page ============= */
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .moblile-menu-bar span {
    color: var(--white-color);
    font-size: 30px;
  }
  .moblile-menu-bar span:hover {
    color: #ffffffe1;
  }
  .slider-img img {
    aspect-ratio: 1.5;
  }
  .about-us-event-info {
    margin-bottom: 30px;
  }
  .about-us-event-Imgs {
    margin-bottom: 30px;
  }
  .upcoming-events .upcoming-events-Imgs img {
    aspect-ratio: 1.1;
    border-radius: 15px;
  }
  .upcoming-events-info {
    margin-top: 0px;
  }
  .upcoming-events-info h3::after {
    bottom: -12px;
  }
  .more-details {
    margin-top: 20px;
  }
  .event-organizer-info {
    margin-bottom: 40px;
  }
  /* ====== About page ======= */
  .our-journey-img-one {
    width: 400px;
  }
  .our-journey-img-tow {
    top: 67%;
    left: 72%;
  }
  .our-journey-img-three img {
    width: 180px;
    height: 180px;
  }
  .our-journey-imges {
    position: relative;
    margin-bottom: 100px;
  }
  .event-memories-items {
    margin-bottom: 30px;
  }
  .event-memories-items-info h4 {
    margin-bottom: 10px;
  }
  .why-choose-eventh-info {
    margin-bottom: 30px;
  }
  /* ====== Event page ======= */
  .event-list-item-imgs img {
    aspect-ratio: 1.1;
  }
  /* ====== schedule page ======= */
  .schedule-sidebar {
    margin-bottom: 30px;
  }
  .schedule-sidebar .nav-link {
    width: auto;
    margin-right: 10px;
  }
  /* ====== Contact page ======= */
  .contact-information {
    margin-top: 0;
  }
  .message-form {
    margin-top: 50px;
  }
}

/* Extra small Device. */
@media (max-width: 767px) {
  /* common banner  */
  .common-banner-area h1 {
    font-size: 30px;
  }
  .common-banner-area li {
    font-size: 13px;
  }
  /* ====== home page ======= */
  .main-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .slider-img img {
    aspect-ratio: 0.7;
  }
  .about-us-event-Imgs {
    margin-bottom: 30px;
  }
  .about-content {
    margin-bottom: 10px;
  }
  .slider-captions h5 {
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 5px;
  }
  .slider-captions h1 {
    font-size: 30px;
    padding: 0 10px;
    line-height: 1.3;
  }
  .slider-captions p {
    padding: 0px 10px;
  }
  .slider-captions .common-btn {
    padding: 7px 15px;
    font-size: 13px;
  }

  .upcoming-events .upcoming-events-Imgs {
    border-radius: 0;
  }
  .upcoming-events .upcoming-events-Imgs img {
    border-radius: 0;
  }
  .upcoming-events .swiper {
    height: 570px;
  }
  .upcoming-events-info h3::after {
    bottom: 60px;
  }
  .upcoming-events .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    display: none;
  }
  .event-organizer-info {
    margin-bottom: 30px;
  }
  .footer-about {
    margin-bottom: 40px;
  }

  /* ====== About page ======= */
  .our-journey-img-one {
    max-width: 270px;
    margin-left: 12px;
  }
  .our-journey-img-tow {
    max-width: 200px;
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translateX(-50%) translateY(-50%);
  }

  .our-journey-img-three img {
    width: 130px;
    height: 130px;
  }
  .our-journey-imges {
    position: relative;
    margin-bottom: 100px;
  }
  .event-memories-items {
    margin-bottom: 30px;
  }
  .event-memories-items-info h4 {
    margin-bottom: 10px;
  }
  .why-choose-eventh-info {
    margin-bottom: 30px;
  }
  /* ====== Service page ======= */
  .event-solutions-items-imgs {
    margin-bottom: 20px;
  }

  /* ====== Event page ======= */
  .event-list-item-imgs {
    margin-bottom: 20px;
  }
  .event-list-item-info h3 {
    margin-bottom: 7px;
  }
  .event-list-item-info {
    padding: 0 20px;
  }
  .event-list-item-details {
    padding: 0 20px;
  }
  /* ====== Event Details page ======= */
  .event-details-date ul li {
    color: var(--white-color);
  }
  .event-details-date ul li p {
    color: var(--white-color);
  }
  .event-details-info .event-info-imgs {
    margin-bottom: 0;
  }
  .event-details-date {
    margin-bottom: 20px;
  }
  /* ====== schedule page ======= */
  .schedule-sidebar {
    margin-bottom: 20px;
  }
  .event-schedule-times {
    display: flex;
    gap: 20px;
  }
  .event-schedule-times li {
    display: flex;
    font-size: 16px;
  }
  .event-schedule-bnt {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .event-schedule-List .common-btn {
    padding: 6px 30px;
    font-size: 14px;
    font-weight: 600;
  }
  /* ====== privacy-policy page ======= */
  .privacy-policy {
    padding: 25px;
  }
  /* ====== Blog Details page ======= */
  .blog-details-content-info {
    margin-bottom: 40px;
  }
  .latest-blogs-items {
    margin-bottom: 20px;
  }
  .serarch-btn {
    margin-bottom: 20px;
  }
  .latest-blogs-items-imgs {
    margin-bottom: 10px;
  }
  .blog-details-meta-info ul li a {
    font-size: 13px;
  }
  .blog-details-content-info h3 {
    font-size: 23px;
  }
  .latest-blog-details-tag ul li {
    padding: 6px 10px;
  }

  /* ====== Contact page ======= */
  .contact-us {
    margin-bottom: 50px;
  }
  .common-btn {
    padding: 6px 24px;
    font-size: 16px;
  }
  .contact-us {
    display: flex;
  }
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* ====== home page ======= */
  .slider-img img {
    aspect-ratio: 1;
  }
  /* ====== About page ======= */
  .our-journey-img-one {
    max-width: 300px;
    margin-left: 12px;
  }
  .our-journey-img-tow {
    max-width: 250px;
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translateX(-50%) translateY(-50%);
  }

  .our-journey-img-three img {
    width: 160px;
    height: 160px;
  }

  /* ====== Event Details page ======= */
  .latest-blog-details-tag ul li {
    padding: 5px 12px;
  }
  .latest-blog-details-tag ul li a {
    font-size: 12px;
  }
  .event-details-info h2 {
    margin-bottom: 8px;
  }
  .event-details-info .event-info-imgs {
    margin-bottom: 20px;
  }
  .event-details-date {
    display: block;
  }
  .moblie-details-date {
    display: none;
  }
  .event-details-info h3 {
    font-size: 20px;
  }
  .event-details-date {
    margin-bottom: 50px;
  }
  .schedule-sidebar .nav-link {
    width: auto;
    margin-right: 10px;
  }
  /* ====== schedule page ======= */

  .event-schedule-bnt {
    width: auto;
  }

  /* ====== Blog Deails page ======= */
  .blog-details-meta-info ul li a {
    font-size: 11px;
  }
}
