@font-face {
  font-family: "Roboto";
  src: url("/Assets/Noto_Sans_Gurmukhi/static/NotoSansGurmukhi_SemiCondensed-Regular.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ======================= Reset & Base Styles start */

:root {
  --primary-color: #003efa;
  --secondary-color: #277439;
  --white-color: #fff;
  --black-color: #00000d;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ======================= Reset & Base Styles end */

/* header Area start  */
.headerArea {
  background: var(--black-color);
  border-bottom: 1px solid #373a416e;
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}
.headerArea .headerLogo img {
  width: 80px;
}
.headerArea nav ul {
  gap: 0 50px;
  margin: 0;
}
.headerArea nav ul li a {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
  transition: all ease 0.4s;
  text-transform: capitalize;
}
.headerArea nav ul li:hover a {
  color: var(--primary-color);
}
.NavigationRight {
  gap: 0 30px;
}
.NavigationRight ul {
  margin: 0;
}
.NavigationRight ul li {
  color: var(--white-color);
  transition: all ease 0.4s;
}
.NavigationRight ul li:hover {
  color: var(--primary-color);
}

/* .search-btn  */

.search-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  background: var(--black-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.search-container:hover .search-btn {
  color: #277439;
}
.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white-color);
  font-size: 16px;
}
.search-btn {
  background: transparent;
  border: none;
  color: var(--white-color);
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.close-bnt {
  margin-left: auto;
  background: transparent;
  border: none;
  color: var(--black-color);
}

/* SideBar  */
.sideBar li {
  color: var(--white-color);
}
.sideBar .offcanvas-header {
  background: #08181d;
  background: linear-gradient(380deg, #092c11, #23366c, #173d27);
}
.sideBar .close-bnt {
  color: var(--white-color);
}
.sideBar .offcanvas-body {
  margin-top: 10px;
}
.sideBar .offcanvas-body h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}
.sideBar .offcanvas-body p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  text-align: justify;
}
.sideBar .contactInfo {
  margin-top: 40px;
}
.sideBar .contactInfo .contactItems {
  gap: 0 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.sideBar .contactInfo .contactItems h5 {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;
}
.sideBar .contactInfo .contactItems a,
.sideBar .contactInfo .contactItems p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #00000d8c;
  transition: all ease 0.4s;
}
.sideBar .contactInfo .contactItems a:hover {
  color: var(--secondary-color);
}
.socialMedia{
  padding: 25px 0;
}
.socialMedia ul {
  gap: 15px;
  padding: 0;
  margin: 0;
}

.socialMedia ul li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #222;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.socialMedia ul li a:hover {
  transform: scale(1.2) rotate(15deg);
  background-color: var(--primary-color);
    color: var(--white-color);
  box-shadow: 0 0 8px var(--white-color), 0 0 15px currentColor, 0 0 25px currentColor;
}

/* header Area end  */

/* hero Area Start  */

.hero-slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 800px;
  animation: fadeIn 1.2s ease-in-out;
}

.hero-content h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #00ccff;
}

.hero-content p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 28px;
  border-radius: 6px;
  background-color: #0066ff;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn.outline {
  background: transparent;
  border: 2px solid #00ccff;
  color: #00ccff;
}

.btn:hover {
  transform: scale(1.05);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* hero Area End */
